<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Register and Login function" >
        <classes>
            <class name="register.RegisterTest"/>
            <class name="login.LoginTest"/>
            <class name="products.SearchTest"/>
            <class name="addToCart.AddToCardTest"/>
        </classes>
    </test>
</suite>